
@{
    ViewBag.Title = "Index";
}

<h2>Minhas Despesas</h2>
<div>
    @(Html.DevExtreme().List()
    .DataSource(ds=> ds.Mvc()
    .Controller("Despesa")
    .LoadAction("GetDespesa")

    )
    .SelectionMode(ListSelectionMode.None)
    .ShowScrollbar(ShowScrollbarMode.Always)
    .ShowSelectionControls(false)
    .ItemTemplate(@<text>

    <div style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">


    <div class="row">
        @*<div class="col-sm-7">
            <span><%-Conta.Nome%></span>
        </div>*@

        <div class="col-sm ">
            <span><%-DataLancamentoStr%></span>
        </div>

    </div>


   <div class="row">
       <div class="col-sm-7 ">
            <span><%-Descricao %></span><span class="text-muted"> (<%-Recorrencia %>)</span>
       </div>

         <div class="col-sm-4 ">
         <b><%- formatCurrency(Valor) %></b>
        </div>

          <div class="col-sm-1 text-lg-right">
               <a href="#"> <i class="text-danger fas fa-trash"></i></a>
            </div>
    </div>

 </div>
                </text>)
    .DataSourceOptions(d =>
    {
        d.Sort("MesLancamento",false);
    })
    .Grouped(false)
    )
    @(Html.DevExtreme().SpeedDialAction()
    .ID("action-edit")
    .Icon("add")
    .Visible(true)
    .Label("")
    .Index(1)
    .OnClick("Add")
   )
</div>


<script>

    function formateDateLocal(data) {
        return data.previousValue.toLocaleDateString();
    };

    function Add() {

        var url = '@Url.Action("AddLancamento","Lancamento",new {@tipoLancamento="DESPESA", @returnUrl = ViewContext.HttpContext.Request.Url.PathAndQuery })';

       url = url.replace("amp;","");

        window.location.href = url;
    };

</script>