
@{
    ViewBag.Title = "Index";
}

<h2>Categorias</h2>


@(Html.DevExtreme().DataGrid<MeuControleFinanceiro.Models.CategoriaModel>()
        .ID("grid")
    .DataSource(ds=> ds.WebApi().Key("_id")
    .Controller("CategoriaApi")
    .LoadAction("Get")
    .UpdateAction(true)
    .InsertAction("Post")
    .LoadMode(DataSourceLoadMode.Processed))
    .Editing(e =>
    {
        e.Mode(GridEditMode.Popup);
        e.AllowAdding(true);
        e.AllowDeleting(true);
        e.AllowUpdating(true);

        e.Popup(p =>
        {
            p.Title("Nova Categoria");
            p.ShowTitle(true);
        });

    })
    .Columns(c =>
    {


        c.AddFor(m => m.Categoria);


    })

    )
@(Html.DevExtreme().SpeedDialAction()
    .ID("action-add")
    .Icon("add")
    .Label("Nova Categoria")
    .Index(1)
    .OnClick("addRow")
)



<script>

    var getGridInstance = function () {
        return $("#grid").dxDataGrid("instance");
    }

    var addRow = function () {
        getGridInstance().addRow();
        getGridInstance().deselectAll();

       // window.location.href = '@Url.Action("AddOrUpdate")';
    }
</script>