
@{
    ViewBag.Title = "Index";
}

<style>
    .row {
        padding-top: 20px;
    }
</style>


<div class="row">
    <div class="col-sm form-inline ">
        <h3>Minhas Contas</h3> <a style="font-size:24px; padding-left:10px" href="#"> <i class="fas fa-plus-circle"></i></a>
    </div>


</div>

<div class="row">

    <div class="col-sm">



        <div class="card">

            <div class="card-header">
                <span>Conta Corrente</span>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-sm">
                        <span>Saldo inicial: R$ 2.000,00</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <span>Saldo atual: R$ 2.000,00</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-sm">


        <div class="card">
            <div class="card-header">
                <span>Conta Poupança</span>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-sm">
                        <span>Saldo inicial: R$ 1.000,00</span>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm">

                        <span>Saldo atual: R$ 1.000,00</span>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-sm">


        <div class="card">
            <div class="card-header">
                <span>Conta C6 Bank</span>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-sm">
                        <span>Saldo inicial: R$ 6.000,00</span>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm">

                        <span>Saldo atual: R$ 4.000,00</span>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-sm  text-lg-right">
        <h5 style="color:green">Saldo Total: R$ 7.000,00</h5>
    </div>

</div>